body {
            padding-top: 20px;
        }
        .container {
            max-width: 1200px; /* Increased max width to accommodate side-by-side layout */
        }
        .form-container, .table-container {
            padding: 15px;
        }
        .form-container {
            border-right: 1px solid #ddd; /* Border to visually separate forms */
        }
        .section {
            margin-bottom: 20px;
        }
        table {
            margin-top: 20px;
        }